.content_event
	if (event.embed && event.embed.provider)
		if (event.embed.provider == 'youtube')
			.event_embed: iframe.embed(src='https://www.youtube.com/embed/' + event.embed.id, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
		else if (event.embed.provider == 'vimeo')
			.event_embed: iframe.embed(src='https://player.vimeo.com/video/' + event.embed.id, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
		else if (event.embed.provider == 'soundcloud')
			.event_embed: iframe.embed(src='https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/' + event.embed.id, frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
	else
		img.event_cover(src=event.cover)
	.event_date= moment(event.date).locale('ru').format('DD.MM.YY')
	.event_title= event.title
	.event_intro!= event.intro
	.event_description!= event.description

.content_share
	a(href='#') share ↵