doctype html
html
	block params
	head
		include header
	body
		.outer_block
			.header_block

				.header_main
					.search_logo(style='background-image: url(/stuff/acoustic/icons/search.svg)')
					input.search_input(type='text', placeholder='search')
					a.logo_block(href='/'): img(src='/stuff/acoustic/icons/logo.svg')
					.menu_spacer
					.menu_open(style='background-image: url(/stuff/acoustic/icons/burger.svg)')

				.header_down
					.menu_close(style='background-image: url(/stuff/acoustic/icons/x.svg)')
					.menu_block: .menu_inner
						a(href='/live', class=menu_active == 'live' ? 'active' : ''): span live
						a(href='/news', class=menu_active == 'news' ? 'active' : ''): span news
						a.disabled(href='/merch', class=menu_active == 'merch' ? 'active' : ''): span merch
						a(href='/about', class=menu_active == 'about' ? 'active' : ''): span about

			.content_block
				block content
			.search_block

			.footer_block
				//- input.subscribe_block(type='text', placeholder='subscribe ↵')
				.down_block
					a(href='/contacts' class=menu_active == 'contacts' ? 'active' : '') contacts


		include counters.pug