doctype html
html
	block params
	head
		include header
	body
		.outer_block
			.header_block
				input.search_block(type='text', placeholder='search')
				a.logo_block(href='/'): img(src='/stuff/acoustic/icons/logo.svg')
				.menu_block
					a(href='/live', class=menu_active == 'live' ? 'active' : '') live
					a(href='/news', class=menu_active == 'news' ? 'active' : '') news
					a(href='/merch', class=menu_active == 'merch' ? 'active' : '') merch
					a(href='/about', class=menu_active == 'about' ? 'active' : '') about


			.content_block
				block content


			.footer_block
				input.subscribe_block(type='text', placeholder='subscribe ↵')
				.down_block
					a(href='/contacts' class=menu_active == 'contacts' ? 'active' : '') contacts


		include counters.pug